
<font size="5"><b>Heart Disease Prediction</b></font>
<i>by Daria Sevkoplias and Eda Muka</i>

Primary <b>goal</b> of our machine learning project is to process several datasets and, based on results, predict whether any person is suffering from any heart disease in total and, if so exists, figure out the total average of people exposed to heart diseases and what are the most common factors that influence on it.
We will use two datasets from <b>Kaggle</b>:
1. <a href="https://www.kaggle.com/ronitf/heart-disease-uci">Heart Disease UCI</a> 
2. <a href="https://www.kaggle.com/sulianova/cardiovascular-disease-dataset">Cardiovascular Disease dataset</a>

First of all, we want to compare both datasets: with heart diseases and сardiovascular diseases, as, in our mind, it could help us to see the common data, that exists for both of datasets and then make a conclusion if it's rational to obtain and compare after the results from the datasets for future predictions.
Also, by comparing of data sets, we will be able to figure out if the information from the selected datasets is relevant and satisfiable for achieving our goal.

In [42]:
import datacompy, pandas as pd

df1 = pd.read_csv('heart.csv')
print(df1.head(10))

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2
5   57    1   0       140   192    0        1      148      0      0.4      1
6   56    0   1       140   294    0        0      153      0      1.3      1
7   44    1   1       120   263    0        1      173      0      0.0      2
8   52    1   2       172   199    1        1      162      0      0.5      2
9   57    1   2       150   168    0        1      174      0      1.6      2

   ca  thal  target
0   0     1       1
1   0     2       1
2   0     2       1
3   0     2       1
4   0     2       1
5   0     1       1
6   0     2       1
7   0     3       1
8   0     3       1
9   0     2       1

In [43]:
df2 = pd.read_csv('cardio_train.csv', sep=';')
df2['gender'].replace(to_replace=[2, 1],value=[1,0],inplace=True)
df2.rename(columns={'gender':'sex'}, inplace=True)
print(df2.head(10))

   id    age  sex  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
0   0  18393    1     168    62.0    110     80            1     1      0
1   1  20228    0     156    85.0    140     90            3     1      0
2   2  18857    0     165    64.0    130     70            3     1      0
3   3  17623    1     169    82.0    150    100            1     1      0
4   4  17474    0     156    56.0    100     60            1     1      0
5   8  21914    0     151    67.0    120     80            2     2      0
6   9  22113    0     157    93.0    130     80            3     1      0
7  12  22584    1     178    95.0    130     90            3     3      0
8  13  17668    0     158    71.0    110     70            1     1      0
9  14  19834    0     164    68.0    110     60            1     1      0

   alco  active  cardio
0     0       1       0
1     0       1       1
2     0       0       1
3     0       1       1
4     0       0       0
5     0       0       0
6     0       1       0
7     0       1       1
8     0       1       0
9     0       0       0

In [52]:
compare = datacompy.Compare(df1, df2,
    join_columns='age',  
    abs_tol=0, 
    rel_tol=0, 
    df1_name='Heart Diseases', 
    df2_name='Cardio Diseases' 
)
print('Datasets intersect by the next colomns: ', compare.intersect_columns())
print(compare.report())

Datasets intersect by the next colomns:  {'age', 'sex'}
DataComPy Comparison
--------------------

DataFrame Summary
-----------------

         DataFrame  Columns   Rows
0   Heart Diseases       14    303
1  Cardio Diseases       13  70000

Column Summary
--------------

Number of columns in common: 2
Number of columns in Heart Diseases but not in Cardio Diseases: 12
Number of columns in Cardio Diseases but not in Heart Diseases: 11

Row Summary
-----------

Matched on: age
Any duplicates on match values: Yes
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 0
Number of rows in Heart Diseases but not in Cardio Diseases: 303
Number of rows in Cardio Diseases but not in Heart Diseases: 70,000

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 0

Sample Rows Only in Heart Diseases (First 10 Columns)
-----------------------------------------------------

     age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak
302   57  0.0  1.0     130.0  236.0  0.0      0.0    174.0    0.0      0.0
241   59  0.0  0.0     174.0  249.0  0.0      1.0    143.0    1.0      0.0
164   38  1.0  2.0     138.0  175.0  0.0      1.0    173.0    0.0      0.0
289   55  0.0  0.0     128.0  205.0  0.0      2.0    130.0    1.0      2.0
260   66  0.0  0.0     178.0  228.0  1.0      1.0    165.0    1.0      1.0
110   64  0.0  0.0     180.0  325.0  0.0      1.0    154.0    1.0      0.0
225   70  1.0  0.0     145.0  174.0  0.0      1.0    125.0    1.0      2.6
150   66  1.0  0.0     160.0  228.0  0.0      0.0    138.0    0.0      2.3
286   59  1.0  3.0     134.0  204.0  0.0      1.0    162.0    0.0      0.8
163   38  1.0  2.0     138.0  175.0  0.0      1.0    173.0    0.0      0.0

Sample Rows Only in Cardio Diseases (First 10 Columns)
------------------------------------------------------

            id    age  sex  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke
41613  59033.0  20386  0.0   147.0    48.0  120.0   80.0          1.0   1.0    0.0
31461  44482.0  21654  0.0   160.0    65.0  110.0   60.0          1.0   1.0    0.0
62446  88738.0  19733  0.0   152.0   100.0  140.0  100.0          2.0   2.0    0.0
5233    6978.0  18077  0.0   155.0    76.0  120.0   80.0          2.0   1.0    0.0
19379  27243.0  14895  0.0   169.0    62.0  120.0   80.0          1.0   1.0    0.0
19526  27466.0  22068  0.0   159.0    68.0  130.0   80.0          1.0   1.0    0.0
66451  94425.0  19741  0.0   160.0    77.0  130.0   90.0          3.0   1.0    0.0
38437  54427.0  16847  1.0   158.0    59.0  120.0   80.0          1.0   1.0    1.0
67637  96144.0  19044  0.0   170.0    87.0  120.0   80.0          1.0   1.0    0.0
66600  94641.0  16040  1.0   172.0    68.0  100.0   80.0          1.0   1.0    0.0

In [55]:
def dataframe_difference(df1, df2, which=None):
    """Find rows which are different between two DataFrames."""
    comparison_df = df1.merge(df2,
                              indicator=True,
                              how='outer')
    if which is None:
        diff_df = comparison_df[comparison_df['_merge'] != 'both']
    else:
        diff_df = comparison_df[comparison_df['_merge'] == which]
    diff_df.to_csv('data.csv')
    return diff_df

In [56]:
dataframe_difference(df1, df2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,_merge
0,63,1,3.0,145.0,233.0,1.0,0.0,150.0,0.0,2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,63,1,0.0,130.0,254.0,0.0,0.0,147.0,0.0,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,63,1,0.0,130.0,330.0,1.0,0.0,132.0,1.0,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,63,1,0.0,140.0,187.0,0.0,0.0,144.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,37,1,2.0,130.0,250.0,0.0,1.0,187.0,0.0,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70298,18748,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101.0,110.0,80.0,3.0,1.0,0.0,0.0,1.0,0.0,right_only
70299,20136,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.0,130.0,80.0,1.0,1.0,0.0,0.0,1.0,0.0,right_only
70300,17065,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.0,140.0,90.0,1.0,1.0,0.0,0.0,1.0,1.0,right_only
70301,17727,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.0,110.0,80.0,1.0,1.0,0.0,1.0,0.0,0.0,right_only
70302,17926,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.0,120.0,80.0,1.0,1.0,0.0,0.0,1.0,1.0,right_only

In [57]:
dataframe_difference(df1, df2, which  = 'both')

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target, id, height, weight, ap_hi, ap_lo, cholesterol, gluc, smoke, alco, active, cardio, _merge]
Index: []

[0 rows x 26 columns]

To get more accurate results we compared our datasets by implementing two methods: we used build-in function Compare() from the imported library datacompy and self-made function dataframe_difference() that shows us with help of merge() function those rows that present in the first DataFrame, rows that present only in the second DataFrame, rows that present/or not present in both datasets.
As we can see, these datasets ave only two rows in common "sex" and "age". In our opinion it's not reasonable to make predictions of heart disease basing on results from obtaining of exactly these datasets.
Moreover, as we can see, the data that contains in the "age" column from the Cardiovascular Disease dataset doesn't show relevant data for age(just inconsistent numbers). 
For the prediction of heart disease risk it's important to have accurate data for age as it considers the most important risk factor in developing cardiovascular or heart diseases, with approximately a tripling of risk with each decade of life.
So the conclusion, that we can make based on previous experiments - is that given Cardiovascular Disease dataset wouldn't be useful for us to achieve the goal.
Our back-up plan, in this case, is try to compare and then, in case of good results, process another dataset.